* {
  box-sizing: border-box;
}

:root {
  --black-text-color: #121723;
  --grey-text-color: #a1a6b4;
  --border-color: #e6e8ec;
  --btn-color: #6d31ee;
  --btn-color-light: #aa9dfa;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerBold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerMedium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerRegular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerRegularItalic'),
		url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerLightItalic'),
		url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

body {
  font-family: 'Muller', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: unset;
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

:hover {
  transition: background-color 0.6s ease, color 0.6s linear;
}

:focus {
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/* header */
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-top__logo {
  width: 160px;
  height: 20px;
}

.header-top__nav {
  display: flex;
  align-items: center;
}

.header-top__list {
  display: flex;
  flex-direction: row;
}

.header-top__item:not(:last-child) {
  margin-right: 58.75px;
}

.header-top__link {
  font-size: 20px;
  line-height: 20px;
  color: var(--black-text-color);
}

.header-top__box {
  display: flex;
  align-items: center;
}

.header-top__search {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  background: url(../img/search.svg) no-repeat center;
}

.header-top__login {
  padding: 10px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: none;
  border: 2px solid var(--black-text-color);
  border-radius: 77px;
}

.header-bottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  left: 0;
  border: 1px solid var(--border-color);
}

.header-bottom__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1140px;
  padding: 0 15px;
}

.header-bottom__nav {
  display: flex;
  align-items: center;
}

.header-bottom__list {
  display: flex;
  flex-direction: row;
}

.header-bottom__item:not(:last-child) {
  margin-right: 52.5px;
}

.header-bottom__link {
  font-size: 16px;
  line-height: 16px;
  color: var(--black-text-color);
}

.broadcast-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.broadcast-box__item {
  display: flex;
  flex-direction: row;
  padding: 2px 11px 3px 11px;
  width: 175px;
  height: 40px;
  border-left: 1px solid var(--border-color);
}

.broadcast-box__item:last-child {
  border-right: 1px solid var(--border-color);
}

.broadcast-box__align {
  padding-top: 8px;
  padding-left: 2px;
}

.broadcast-box__play {
  margin-right: 9px;
}

.broadcast-box__content {
  display: flex;
  flex-direction: column;
}

.broadcast-box__desc {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--grey-text-color);
}

.broadcast-box__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black-text-color);
}

.header-bottom__age {
  padding: 20px 8px;
  background-color: var(--border-color);
}

.header-bottom__age::after {
  content: "12+";
  padding: 7px 4.5px;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-text-color);
  background-color: white;
  border-radius: 50%;
}
